@model WebApplication3.Models.VMLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>VMLogin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            <alert style="color:red">@ViewBag.ErrMsg1</alert> 
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.passeard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.passeard, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.passeard, "", new { @class = "text-danger" })
            <alert style="color:red">@ViewBag.ErrMsg2</alert>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="登入" class="btn btn-default" />
            <input type="reset" value="清除" class="btn btn-default" />
        </div>
      
    </div>
    <div class="form-group">
        
    </div>

</div>
}
<p class="text-right">
    <a href="/Home/Email">忘記密碼</a> |
    <a href="/Tables/Create">尚未註冊</a>
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
